@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: #242526;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Start search */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
}

.logo {
  margin: 0.5rem 1rem 0 0;
}

.form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.form-group input {
  width: 100%;
  padding: 11px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  font-family: inherit;
}

.btn {
  padding: 10px;
  margin-left: 5px;
  border: 1px solid #DB202C;
  border-radius: 2px;
  background: #DB202C;
  color: #fff;
  cursor: pointer;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-block {
  width: 100%;
}

.btn:hover {
  transform: scale(0.98);
}

/* End search */

/* Start Spinner */

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  margin: 1rem 0;
  border: 8px solid;
  border-color: #000 transparent #DB202C transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.loadingSpinnerContainer h3 {
  color: #f4f4f4;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* End Spinner */

/* Start results */

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 2rem;
  margin: 4rem 0 4rem 0;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* width: 250px; */
  height: auto;
  margin-top: 1rem;
}

.cover img {
  border-radius: 2px;
  max-width: 100%;
  max-height: 200px;
}

/* .book h2,
.book p {
  color: #f4f4f4;
} */

.add-btn {
  width: auto;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.add-btn h3 {
  font-size: 16px;
  margin-left: 0.5rem;
}

/* End results */

/* Start pagination */

.pagination {
  width: 100%;
  margin: 0.5rem 0 1.75rem 0;
}

.btn-wrapper {
  width: 100%;
  padding: 10px;
}

.btn-left {
  float: left;
}

.btn-right {
  float: right;
}

.page-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #f4f4f4;
}

.fa-btn:hover {
  transform: scale(1.1);
}

.page-toggle h3 {
  margin: 0 0.5rem 0 0.5rem;
}

/* End pagination */

/* Start footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1rem;
}

.row ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.row ul li {
  color: #f4f4f4;
}

/* End footer */

@media (max-width: 768px) {
  .container {
    /* display: flex;
    flex-direction: column; */
    grid-template-columns: repeat(2, 1fr);
  }
}
