@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Start search */

.form-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-family: inherit;
}

.btn {
  padding: 10px 20px;
  margin-left: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-block {
  width: 100%;
}

.btn:hover {
  transform: scale(0.98);
}

/* End search */

/* Start Spinner */

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* End Spinner */

/* Start results */

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  padding: 2rem;
  margin: 4rem 0 4rem 0;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* End results */

/* Start pagination */

.pagination {
  width: 100%;
  margin: 1.75rem 0 1.75rem 0;
}

.btn-wrapper {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.page-toggle {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-toggle h3 {
  margin: 0 0.5rem 0 0.5rem;
}

/* End pagination */

@media (max-width: 768px) {
  .container {
    /* display: flex;
    flex-direction: column; */
    grid-template-columns: repeat(2, 1fr);
  }
}
