@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: #242526;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
}

img {
  object-fit: contain;
}

/* Start list */

.book-list {
  margin: 1rem 1rem 5.5rem 1rem;
}

.book-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1rem 0;
  border-radius: 3px;
  padding: 10px;
}

.dlt-btn {
  color: #f4f4f4;
  margin-bottom: auto;
  cursor: pointer;
}

.arrow {
  color: #f4f4f4;
  cursor: pointer;
}

.book-info {
  width: 50%;
  color: #f4f4f4;
  margin-left: 1rem;
}

/* End list */

/* Start search */

.search-form {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-field {
  position: absolute;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  top: 0;
}

.form {
  width: 85%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(119, 119, 119, 0.6);
  border: 1px solid #f4f4f4;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.form input {
  width: 75%;
  margin: 0 auto 0 1rem;
  border: none;
  background: transparent;
  color: #f4f4f4;
  font-weight: 500;
  border-radius: 5px;
  font-family: inherit;
  font-size: 20px;
}

.form input:focus {
  outline: none;
}

.search-icon {
  background: transparent;
  color: #f4f4f4;
}

.clear-search {
  background: transparent;
  color: #f4f4f4;
  cursor: pointer;
}

.clear-search:hover {
  color: #777;
}

/* End search */

/* Start results */

.container {
  width: 100%;
  position: fixed;
  overflow: auto;
  height: 75%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 2rem;
  margin: 1rem 0;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: auto;
  margin-top: 1.5rem;
}

.cover img {
  border-radius: 2px;
  max-width: 100%;
  max-height: 200px;
}

/* .book-btn {
  width: 50%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px;
  border-radius: 3px;
  background: #DB202C;
  background: rgba(119, 119, 119, 0.6);
  border: 1px solid #f4f4f4;
  color: #fff;
  cursor: pointer;
} */

.book-btn {
  cursor: pointer;
}


.plus,
.check {
  color: #f4f4f4;
  margin-top: 5px;
}

/* .add-btn h3 {
  font-size: 16px;
} */

/* End results */

/* Start spinner */

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  margin: 1rem 0;
  border: 8px solid;
  border-color: rgba(119, 119, 119, 0.6) transparent #DB202C transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.loadingSpinnerContainer h3 {
  color: #f4f4f4;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* End spinner */

/* Start pagination */

.pagination {
  width: 100%;
  margin: 0.5rem 0 1.75rem 0;
}

.btn-wrapper {
  width: 100%;
  padding: 10px;
}

.btn-left {
  float: left;
}

.btn-right {
  float: right;
}

.page-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #f4f4f4;
}

.fa-btn:hover {
  transform: scale(1.1);
}

.page-toggle h3 {
  margin: 0 0.5rem 0 0.5rem;
}

/* End pagination */

/* Start footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1.25rem;
}

.row ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.row ul li {
  color: #f4f4f4;
  cursor: pointer;
}

.row ul li:hover {
  color: #777;
}

.total-wrapper {
  display: flex;
}

.circle {
  background: #DB202C;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7%;
  margin-left: 1rem;
  /* right: 20%; */
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

/* End footer */

@media (max-width: 768px) {
  .container {
    /* display: flex;
    flex-direction: column; */
    grid-template-columns: repeat(2, 1fr);
  }
}
